---
import '../styles/global.css'

import BaseLayouts from '../layouts/BaseLayouts.astro'

const pageTitle = 'About us'

const finished = true

const skillColor = 'navy'
const fontWeight = 'bold'
const textCase = 'uppercase'

const identity = {
  firstName: 'Luis Alberto',
  country: 'Venezuela',
  occupation: 'Escritor técnico',
  hobbies: ['Caña', 'Basket', 'Denver'],
}

const skills = [
  'HTML',
  'CSS',
  'JavaScript',
  'React',
  'Astro',
  'Redacción de documentos',
]
---

<BaseLayouts pageTitle={pageTitle}>
  <h2>Mi impresionante subtítulo del blog</h2>
  <h2>Cualquier verga</h2>

  <p>He aquí algunos datos sobre mí:</p>
  <ul class='about'>
    <li>Mi nombre es {identity.firstName}.</li>
    <li>Vivo en {identity.country} y trabajo como {identity.occupation}.</li>
    {
      identity.hobbies.length >= 2 && (
        <li>
          Dos de mis aficiones son: {identity.hobbies[0]} y{' '}
          {identity.hobbies[1]}
        </li>
      )
    }
  </ul>
</BaseLayouts>
