---
const platform = 'github'
const username = 'withastro'
const instagram = 'instagram'
const userInstagram = 'lmorenosilva2022'
---

<footer>
  <p>
    ¡Más información sobre mis proyectos en <a
      href={`https://www.${platform}.com/${username}`}>{platform}</a
    >! Redes Sociales <a href={`https://www.${instagram}.com/${userInstagram}`}
      >{instagram}</a
    >
  </p>
</footer>
